In [2]:
import pandas as pd

dts = pd.read_csv('E:\heart_failure_clinical_records_dataset.csv')

In [3]:
dts.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [4]:
X = dts.iloc[:,:-1]
X[0:5]

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8

In [5]:
y = dts.iloc[:,-1]
print(y[0:5])
print(y.shape)

0    1
1    1
2    1
3    1
4    1
Name: DEATH_EVENT, dtype: int64
(299,)

In [6]:
#Number (1) data preprocessing 

from sklearn.preprocessing import StandardScaler

X = StandardScaler().fit_transform(X)
print(X)

[[ 1.19294523e+00 -8.71104775e-01  1.65728387e-04 ...  7.35688190e-01
  -6.87681906e-01 -1.62950241e+00]
 [-4.91279276e-01 -8.71104775e-01  7.51463953e+00 ...  7.35688190e-01
  -6.87681906e-01 -1.60369074e+00]
 [ 3.50832977e-01 -8.71104775e-01 -4.49938761e-01 ...  7.35688190e-01
   1.45416070e+00 -1.59078490e+00]
 ...
 [-1.33339153e+00 -8.71104775e-01  1.52597865e+00 ... -1.35927151e+00
  -6.87681906e-01  1.90669738e+00]
 [-1.33339153e+00 -8.71104775e-01  1.89039811e+00 ...  7.35688190e-01
   1.45416070e+00  1.93250906e+00]
 [-9.12335403e-01 -8.71104775e-01 -3.98321274e-01 ...  7.35688190e-01
   1.45416070e+00  1.99703825e+00]]

In [7]:
#Number (2) train test spliy)t data

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state = 8)

In [8]:
print(X_test.shape)
print(X_train.shape)

(90, 12)
(209, 12)

In [9]:
#Number (3) algorithm setup and Number (4) model fitting

from sklearn import svm
clf = svm.SVC(kernel = "rbf")
Model = clf.fit(X_train,y_train)

In [10]:
#Number (5) prediction

yhat = Model.predict(X_test)
yhat

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0], dtype=int64)

In [11]:
#Number (6) evaluation of model

from sklearn.metrics import confusion_matrix,classification_report
print(confusion_matrix(y_test,yhat))

[[60  7]
 [14  9]]

In [12]:
pd.crosstab(y_test,yhat)

col_0         0  1
DEATH_EVENT
0            60  7
1            14  9

In [13]:
print(classification_report(y_test,yhat))

              precision    recall  f1-score   support

           0       0.81      0.90      0.85        67
           1       0.56      0.39      0.46        23

    accuracy                           0.77        90
   macro avg       0.69      0.64      0.66        90
weighted avg       0.75      0.77      0.75        90

In [14]:
#manual evaluation

yhat = Model.predict([[75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4]])
yhat

array([1], dtype=int64)